/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka';
    scroll-behavior: smooth;
}

body {
    min-height: 100px;
    background: #F0F3F2;
}

/* Typography */
h1, h2, h3 {
    font-weight: 1200;
    font-size: 3em;
    margin-bottom: 4%;
}

h4, h5 {
    font-weight: 500;
    font-size: 1.6em;
    text-align: justify;
}

h6 {
    font-weight: 650;
    font-size: 1.6em;
}

.white {
    color: #F0F3F2 !important;
}

.black {
    color: #000000;
}

.yellow {
    color: #E7C959;
}

/* Header Section */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: linear-gradient(to right, #042a53, #154880);
    padding: 10px 100px;
    box-shadow: 0 5px 10px rgba(97, 62, 62, 0.05);
}

header .logo {
    color: rgb(80, 48, 0);
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none;
}

header.sticky .logo {
    color: rgb(3, 2, 2);
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    font-size: large;
    margin-left: 70px;
}

header .navigation li a {
    text-decoration: none;
    color: #F0F3F2;
    font-weight: 300;
}

header .navigation li a:hover {
    color: #111;
}

header.sticky .navigation li a {
    color: #F0F3F2;
}

header.sticky .navigation li a:hover {
    color: #111;
}

/* Banner Section */
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: #042a53;
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 10%;
}

.banner .content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 22%;
    padding-bottom: 6%;
}

.banner-text {
    margin-top: 15%;
    margin-left: 10%;
}

.banner-text p {
    margin: 4% 0%;
    font-size: 1.1em;
    margin-top: -2%;
}

.banner-text ul {
    list-style: none;
}

.banner-text ul li {
    display: inline-block;
    margin: 0px 10px 10px 0px;
}

.banner-text ul li a {
    display: block;
}

.banner-text ul li a img {
    width: 150px;
    border-radius: 7px;
    margin-top: 20%;
}

/* Slideshow Section */
#slideshow {
    background: linear-gradient(#6EA5E2, #154880);
}

.slideshow-container {
    padding-top: 180px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20%;
    position: relative;
}

.slides {
    display: none;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.6);
}

.slide-in {
    animation-name: slide;
    animation-duration: 4.5s;
}

@keyframes slide {
    from {
        opacity: 0.1;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-out {
    animation-name: slide-out;
    animation-duration: 4.5s;
    animation-fill-mode: forwards;
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0.0;
        transform: translateX(100%);
    }
}

/* Footer Section */
footer {
    bottom: 0;
}

.footer {
    background-color: #042a53;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer .footer-left {
    width: 30%;
}

.footer h3 {
    color: #f5f5f5;
    margin: 0;
    padding-bottom: 20px;
    font-family: Georgia, 'Time New Roman', Times, serif;
}

.footer .footer-left img {
    width: 100%;
    vertical-align: middle;
}

.footer .footer-center {
    width: 35%;
}

.footer .footer-center i {
    color: #F0F3F2;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center p {
    display: inline-block;
    color: #F0F3F2;
    vertical-align: middle;
    margin: 0px;
}

.footer .footer-right {
    width: 30%;
}

.footer .footer-media a {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #E7C959;
    border-radius: 50%;
    font-size: 20px;
    color: #000;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-media a:hover {
    background-color: #8f9296;
}


@media screen and (max-width: 1750px) {
    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 20px 0;
    }
}


@media screen and (max-width: 1200px) {
    /*page utama*/
    .banner {
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        background: #042a53;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 5%;
        padding-right: 10% ;
    }
    
    .banner .content {
        width: 100%;
        display: flex;
        justify-content:flex-end;
        align-items: flex-end;
        padding-right: 22%;
        padding-bottom: 2%;
        
    }
    
    
    .banner-text {
        margin-top: 20%;
        margin-left: 18%;
    
    }
    .banner-text p {
        margin: 4% 0%;
        font-size: 1.1em;
    }
    .banner-text ul {
        list-style: none;
    }
    .banner-text ul li {
        display: inline-block;
        margin: 0px 10px 10px 0px;
    }
    .banner-text ul li a {
        display: block;
    }
    .banner-text ul li a img {
        width: 150px;
        border-radius: 7px;
        margin-top: 20%;
    }

    h1, h2, h3 {
        font-weight: 1000;
        font-size: 2.5em;
        margin-bottom: 4%;
    }
    h4, h5 {
        font-weight:450;
        font-size: 1.6em;
    }
    h6 {
        font-weight:050;
        font-size: 1.4em;
    }
    
    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0;
    }

    /*header*/
    header,
    header.sticky {
        padding: 5px 10px;
        height:"70px";
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        width: 40%;
        height: calc(100% - 60px);
        position: fixed;
        top: 60px;
        right: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #154880;
    }

    header .navigation li {
        margin-left: 0;
    }

    header .navigation li a {
        color: #111;
        font-size: 1.6em;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active {
        background: url(images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .menuToggle {
        filter: invert(1);
    }

    #faq {
        background-color: #F0F3F2;
        position: relative;
        padding: 10%;
    }

    /*kartu*/
    .kartu{
        position: relative;
        display: flex;
        width: 70%;
        margin: auto;
    }

    .title{
        position: relative;
        display: block;
        width: 50%;
        text-align: center;
        margin: 0% 0% 0% 25%;
    }
    
    .title .ttl{
        position:relative;
        display: block;
        width: 100%;
        margin: 0% 0% 0% 0%;
    }
    

    /*footer*/
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .footer .footer-center i {
        margin-left: 0px;
    }

    .footer .footer-left img {
        width: 70%;
        vertical-align: middle;
    }

    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}


@media screen and (max-width: 720px) {
    .container {
        max-width: 300px;
        display: block;
    }

    h1 {
        margin-bottom: 3%;
        padding-top: 5%;
        font-size: 30px;
    }
   
    /*page utama*/
    .banner .content {
        text-align: center;
        justify-content: center;
        padding-right: 0;
    }


    .banner-text{
        margin-top: 140px;
        margin-left: 15%;
        margin-right: 15%;
    }

    .banner-text ul li a img {
        width: 120px;
        height: 34px;
        border-radius: 7px;
        margin-top: 10%;
    }

    .banner-text p {
        margin: 0% 0%;
    }

    .banner-text ul {
        list-style: none;
    }

    .banner-text ul li {
        display: inline-block;
        margin: 0px 10px 10px 0px;
    }

    .banner-text ul li a {
        display: block;
    }
   
    
    /*header*/
    header,
    header.sticky {
        padding: 5px 20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        width: 100%;
        height: calc(100% - 60px);
        position: fixed;
        top: 60px;
        left: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #1D96A1;
    }

    header .navigation li {
        margin-left: 0;
    }

    header .navigation li a {
        color: #111;
        font-size: 1.6em;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active {
        background: url(images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .menuToggle {
        filter: invert(1);
    }


    .slideshow-container {
        padding-top: 120px;
        margin-left: 5%;
        margin-right: 5%;
        position: relative;
      }


    /*kartu*/
    .title{
        position: relative;
        display: block;
        width: 100%;
        text-align: center;
        margin: 10% 0% 0% 0%;
    }
    
    .title .ttl{
        position:relative;
        display: block;
        width: 100%;
        margin: 0% 0% 0% 0%;
    }

    .kartu{
        position: relative;
        display: block;
        width: 90%;
        margin: 0% 6%;
    }

    .kiri{
        width: 75%;
        margin: auto;
        padding: 0;;
    }
    
    .kiri1{
        width: 75%;
        margin: auto;
        padding: 0;
    }
    
    .kanan{
        width: 75%;
        margin: auto;
        padding: 0;
    }

  
    /*tombol*/
    .tombol {
        text-decoration: none;
        color: #000;
        margin: 5px;
        margin-top: 12px;
        width: 120%;
        text-align: center;
        transition: 0.3s;
    }
    

    
    .tombol img {
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
    }
    
    .tombol p {
        font-size: 16px;
    }
    



    .footer .footer-left img {
        width: 100%;
        vertical-align: middle;
    }
}

